@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #fff;
  text-size-adjust: none;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --header-height: 56px;
  --sidebar-width: 70px;
  --fill-rgb: 0, 0, 0;
  --hover-btn-bg: #8883;
  --background-wp-rgb: 0, 0, 0;
}

.cinematic-canvas {
  display: none;
}
/*@media (prefers-color-scheme: dark) {*/
/*dark*/
html {
  --background-wp-rgb: 255, 255, 255;
  --hover-btn-bg: #fff2;
  background: #0f0f0f;
  --foreground-rgb: 221, 221, 221;
  --background-rgb: 0,0,0;
  --fill-rgb: 255, 255, 255;
}
  .cinematic-canvas {
    display: block !important;
  }

  .page-watch-primary-player-conteiner {
    background: #0000 !important;
  }
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  position: fixed;
  transition: background 0.2s;
  inset: 0;
  overflow: hidden;
}

body[exped] {
  --sidebar-width: 240px;
}
body:not([exped]) .guide-section .guide-section-item-content {
  padding: 14px !important;
}
body:not([exped]) .guide-section > div:not(.gs-mains) {
  opacity: 0;
  pointer-events: none !important;
}
/* defs */
input {
  appearance: none;
  background: transparent;
  border: none;
  flex: 1;
  outline: none;
}
svg {
  pointer-events: none;
  display: block;
  height: 100%;
  width: 100%;
  fill: rgb(var(--fill-rgb));
}
img {
  width: 100%;
  display: block;
}
/*  class */
#app-desktop {
  position: absolute;
  @apply inset-0;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.desktop-header {
  display: flex;
  align-items: center;
  z-index: 10000;
  /* height: 100%;*/
  padding: 0 20px;
  background-color: #0000;
  justify-content: space-between;
  height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.3s top, 0.3s background 0.01s;
}
.desktop-header .logo {
  position: relative;
  display: flex;
  flex: 0 0 40px;
  font-weight: 700;
}
.header-profile-panel {
  @apply mx-[12px];
}
.header-profile-panel-image {
  @apply w-[40px] rounded-full overflow-hidden;
}

.search-bar .icon,
.search-bar .submit {
  width: 40px;
  max-width: 40px;
  height: 40px;

  @apply flex justify-center items-center;
}
.search-bar .submit-btn {
  max-width: 64px !important;
  min-width: 64px !important;
  height: 38px;
  margin-right: 1px;
  @apply cursor-pointer w-[64px];
  background: rgba(var(--background-wp-rgb), 0.2);
}
.search-bar .container {
  @apply flex shadow overflow-hidden  rounded-full ml-[16px] flex-1 items-center relative;
}
.search-bar:hover,
.search-bar:focus {
  @apply border-[#2588ff] border;
}
.transparent {
  background: transparent !important;
}
.player-over{
  position: absolute;
  inset: 50px 5px;
  z-index: 999;
}
.search-bar .icon#search-icon-hover,
.search-bar .icon#search-icon-hover {
  @apply flex w-[0px] opacity-0 overflow-hidden;
  transition: 0.2s;
  width: 0 !important;
}
.search-bar .icon svg {
  width: 24px !important;
}
.search-bar:hover .icon#search-icon-hover,
.search-bar:focus .icon#search-icon-hover {
  @apply w-[40px] opacity-100;
  width: 40px !important;
}
.search-bar form {
  width: 100%;
  flex: 1 !important;
}
.search-bar input {
  @apply ml-[16px] block;
}

.search-bar {
  @apply border-[#888]/50 border;
  transition: border 0.3s;
  flex-basis: 700px;

  @apply ml-[10px] mr-[14px] rounded-full flex items-center;
  height: 40px;
}
.search-bar-form {
  @apply flex  items-center;
}
.endpoint-block {
  display: black !important;
}
.btn-simple {
  @apply flex items-center;
  width: 40px;
  height: 40px;
  display: flex;
}
.btn-simple[rounded] {
  @apply rounded-full overflow-hidden;
}
.btn-simple .btn-simple-container {
  @apply flex flex-col justify-center items-center;
}
.btn-simple[row] .btn-simple-title {
  margin-left: 25px;
}
.btn-simple:not([row]) .btn-simple-title {
  @apply flex flex-col justify-center items-center w-full;
}
.btn-simple[row] .btn-simple-container {
  @apply flex-row justify-start;
}
.btn-simple-icon {
  @apply flex justify-center items-center;
  width: 24px;
  min-width: 24px;
  height: 24px;
}
.desktop-layout-end,
.desktop-layout-start {
  @apply flex items-center;
}
.desktop-layout-start {
  width: 96px;
  min-width: 96px;
}
.sidebar .button > div {
  justify-content: start !important;
  margin-left: 15px;
}
body[exped] .sidebar .button > div {
  flex-direction: row !important;
}
body:not([exped])
  .guide-section-item-content
  > *:not(.guide-section-item-icon) {
  display: none !important;
}
body:not([exped]) .guide-section-item-icon {
  margin-right: 0px !important;
  min-width: 24px;
}
body:not([exped]) .guide-section-item-content {
  width: var(--sidebar-width);
  padding: 0px calc(calc(var(--sidebar-width) - 24px) / 2);
}
body:not([exped]) .sidebar [reqexped] {
  display: none !important;
}
body .sidebar [line-shot] * {
  transition: 0.2s;
  opacity: 1;
}

body:not([exped]) .sidebar [line-shot] * {
  opacity: 0 !important;
  height: 0px;
}
body:not([exped]) .sidebar .card-avatar-endpoint {
  background: transparent !important;
}
body:not([exped]) .sidebar .card-avatar-info *:not(.text-live) {
  opacity: 0;
}
body:not([exped]) .sidebar .text-live {
  background: red;
  opacity: 1;
  transition: 0.4s;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
  border-radius: 5px;
  line-height: 13px;
  font-size: 10px;
  padding: 0px 3px;
  border: 2px solid rgb(var(--background-rgb));
}
body[exped] .sidebar .text-live {
  display: none;
  opacity: 0;
}
body:not([exped]) .sidebar .card-avatar {
  margin: 0px;
  margin-top: 10px;
  position: relative;
  padding-left: 5px;
}

.sidebar .button {
  width: calc(var(--sidebar-width) - 8px);
  height: min(45px, calc(var(--sidebar-width) - 8px));
}
.sidebar .button .title {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}
.line-split {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #8888;
  @apply mx-[5px];
}
.sidebar {
  z-index: 9999;
  position: fixed;
  top: var(--header-height);
  width: var(--sidebar-width);
  padding: 0px 4px;
  left: 0;
  bottom: 0;
  transition: 0.2s;
}
.layout-content-wrapper {
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  transition: margin-left 0.1s;
}
.logo {
  height: 56px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.miniplayer {
  position: fixed;
  z-index: 9998;
  height: 315px;
  border-radius: 16px;
  width: 400px;
  bottom: 15px;
  right: 15px;
  box-shadow: 0px 0px 2px rgba(var(--background-wp-rgb), 0.2);

  overflow: hidden;
  background: rgba(var(--background-rgb));
}
.miniplayer .page-watch-container {
  margin: 0px 0px 20px;
}
.miniplayer .miniplayer-metadata {
  margin: 0px 16px;
}
.miniplayer .miniplayer-player-container {
  width: 100%;
  padding-bottom: 56.25%;
  background: black;
  position: relative;
}
.title-items {
  @apply mx-[14px] my-[10px] pb-[3px];
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
body[watchpage]:not([exped]) .sidebar * {
  display: none !important;
}

body[watchpage]:not([exped]) {
  --sidebar-width: 0px !important;
}
body:not([watchpage]) .sidebar {
  background: rgb(var(--background-rgb));
}

.button-menu {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  @apply flex items-center justify-center;
}
.card-avatar {
  @apply mt-[10px] mx-[10px] relative;
}

.card-avatar-endpoint {
  height: 40px;
  overflow: hidden;
  display: block;
  border-radius: 8px;
  transition: background 0.15s;
  background: #0000;
}

.item-side-bar {
  margin: 0 5px;
  border-radius: 5px;
  overflow: hidden;
}
.card-avatar-endpoint:hover {
  background: #fff1;
}
.item-side-bar.active,
.card-avitem-side-bar.active {
  background: #fff2;
}
.card-avatar-image {
  width: 24px !important;
  min-width: 24px !important;
  max-width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin-left: 14px;
}
.card-avatar-contener {
  display: flex;
  height: 40px;
  align-items: center;
}
.card-avatar-info {
  margin-left: 10px;
  margin-right: 14px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dot-red {
  width: 4px;
  height: 4px;
  background: red;
  border-radius: 50%;
}
.dot-blue {
  width: 4px;
  height: 4px;
  background: blue;
  border-radius: 50%;
}
.page-watch {
  flex: 1;
  width: 100%;
  height: 100%;
}
body[fullscreen] {
  --header-height: 0px;
  --sidebar-width: 0px;
}
body[fullscreen] .sidebar {
}
body[fullscreen] .desktop-header {
  top: -56px;
  background: #000 !important;
}
body:not([watchpage]) .desktop-header,
body[scrollwatch] .desktop-header {
  top: 0px !important;
  background: rgb(var(--background-rgb)) !important;
}
.layout-content:not([full]) .page-watch-container {
  max-width: 1500px;
}
body[fullscreen] .layout-content[full] .page-watch-container {
  height: calc(100vh - calc(var(--header-height) + 140));
}
.page-watch-container {
  @apply mt-[20px] justify-center flex mx-[auto];
}
[full] .page-watch-container {
  margin-top: 0 !important;
}
body[fullscreen] .page-watch-container .page-watch-primary,
body[fullscreen] .page-watch-container .page-watch-primary-player-conteiner {
  width: 100vw;
  height: 100vh;
  aspect-ratio: auto;
}

.page-watch-primary * {
  fill: #fff;
  color: #fff;
}

.layout-content:not([full]) .page-watch-container .page-watch-primary {
  min-width: min(818px, calc(100vw - 28px));
  max-width: 3000px;
  flex: 1;
  position: relative;
}
.layout-content > .page-watch-container .page-watch-primary {
  min-width: min(818px, calc(100vw - 28px));
  max-width: 3000px;
  flex: 1;
  position: relative;
}
[full] .page-watch-container .page-watch-primary {
  width: 100vw;
}
.page-watch-info[full]
  .page-watch-info-conteiner
  > *:not(.page-watch-container) {
  margin-right: 600px;
}
body:not([fullscreen]) [full] .page-watch-container .page-watch-primary,
body:not([fullscreen])
  [full]
  .page-watch-container
  .page-watch-primary-player-conteiner {
  height: 56.25vw;
  max-height: calc(100vh - 200px) !important;
  position: relative;
}
body:not([fullscreen])
  .layout-content:not([full])
  .page-watch-container
  .page-watch-primary {
  padding: 0 0px;
}
.page-watch-primary-player {
  position: relative;
  @apply w-full;
  min-height: 100%;
}
.layout-content:not([full])
  .page-watch-container
  .page-watch-primary-player-conteiner {
  aspect-ratio: 1.7777777777777/1;
}
.page-watch-primary-player-conteiner > * *{
  position: relative;
  z-index: 130;
}
.page-watch-primary-player-conteiner {
  min-width: min(200px, calc(100vw - var(--sidebar-width)));
  overflow: hidden;
  border-radius: 16px;

  position: relative;
  max-width: calc(100vw - var(--sidebar-width));
}
[full] .page-watch-primary-player-conteiner {
  border-radius: 0px;
}
.video-player {
  font-size: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  line-height: 1.2;
  z-index: 10;
}
.video-stream {
  @apply inset-0 absolute block h-full w-full;
}
.player-bottom {
  height: 48px;
  padding-top: 2px;
  position: absolute;
  z-index: 2000;
  bottom: 0px;
  left: 15px;
  right: 15px;
  max-width: 100%;
  text-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
}
.player-bottom,
.player-bottom-buttons {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
}
[touche] .player-prosses-dot,
.player-prosses-content:hover .player-prosses-dot
{
transform: translate(-50%, -9px) scale(1)!important;
}
.player-prosses.pplay {
  @apply bg-[#ff9a1d];
}
.player-prosses.pload {
  @apply bg-[#fff]/40;
}
.player-prosses.phove {
  @apply bg-[#fff]/40;
}
.player-prosses.pbg {
  @apply bg-[#fff]/30;
}
.player-prosses {
  height: 4px;
  z-index: 200;
  width: 100%;
  cursor: pointer;
  @apply absolute inset-0 origin-top-left;
}
.player-prosses-content {
  height: 5px;
  padding-top: 5px;
  width: 100%;
  @apply relative;
  padding-top: 3px;
}
.player-prosses-dot {
  width: 16px;
  height: 16px;
  background: #ff9a1d;
  border-radius: 50%;
  z-index: 230;
  transform: translate(-50%, -9px) scale(0);
  transition:transform .3s;
}
.player-bottom-buttons {
}
.player-bottom-buttons-flex {
  @apply flex items-center;
}
.player-bottom-volume {
  position: relative;
  height: 4px;
  width:0px;
  pointer-events:none;
  transition:.2s;
  overflow:hidden;
}
.player-bottom-volume-content:hover .player-bottom-volume{
  pointer-events:auto!important;

  overflow:visible!important;
  opacity: 1;
  width: 100px;
}
.player-bottom-volume-line {
  height: 4px;
  @apply absolute;
  width: 30px;
  background: #fff;
}
.player-bottom-volume-content {
  @apply flex items-center;
}
.player-bottom-volume-input {
  @apply inset-0 absolute;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  background: #fff2 !important;
}
.player-bottom-volume-input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff !important;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.player-bottom-buttons {
  hidden: 48px;
  line-height: 48px;
  text-align: left;
  @apply flex items-center justify-between;
}
.player-bottom-btn {
  display: inline-block;
  opacity: 0.9;
  overflow: hidden;
  width: 48px;
  padding: 0px 2px;
  cursor: pointer!important;
}
.player-bottom-btn .btn-interaction {
  display: none;
}

.player-bottom-btn path[d]{
  transition: 0.3s !important;
  
}
.player-top {
  height: 48px;
  text-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
  @apply absolute top-0 left-0 right-0 flex items-center justify-between;
}
.player-top .title {
  font-size: 20px;
  margin-left: 14px;
  font-weight: 400;
  @apply line-clamp-1;
}
[full] #cinematic {
  display: none;
}
.cinematic-canvas {
  transition: 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#cinematic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: .3s opacity;
  -webkit-transition: .3s opacity;
  transform: scale(2.5, 1.5);
  opacity:1;
}

.player-bottom-bg {
  height: 150px;
  z-index: 200;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADCCAYAAACIaaiTAAAAAXNSR0IArs4c6QAAARFJREFUOE9lyNdHBQAAhfHb3nvvuu2997jNe29TJJEkkkgSSSSJJJJEEkkiifRH5jsP56Xz8PM5gcC/xfCIWBNHiXiTQIlEk0SJZJNCpZo0SqSbDEpkmixKZJscSuSaPErkmwJKFJoiShSbEkqUmjJKlJsKqtJUUaLa1FAiaGopUWfqKdFgGinRZJop0WJaKdFm2inRYTop0WW6qR7TS4k+00+JATNIiSEzTIkRM0qJMTNOiQkTosSkmaLEtJmhxCzMmTAlIiZKiXmzQIlFs0SJZViBVViDddiATdiCbdiBXdiDfTiAQziCYziBUziDc7iAS7iCa7iBW7iDe3iAR3iCZ3iBV3iDd/iAT/iCb/iB3z+hYCsRlTEd8QAAAABJRU5ErkJggg==);
}
.player-top-bg {
  height: 150px;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(180deg);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADCCAYAAACIaaiTAAAAAXNSR0IArs4c6QAAARFJREFUOE9lyNdHBQAAhfHb3nvvuu2997jNe29TJJEkkkgSSSSJJJJEEkkiifRH5jsP56Xz8PM5gcC/xfCIWBNHiXiTQIlEk0SJZJNCpZo0SqSbDEpkmixKZJscSuSaPErkmwJKFJoiShSbEkqUmjJKlJsKqtJUUaLa1FAiaGopUWfqKdFgGinRZJop0WJaKdFm2inRYTop0WW6qR7TS4k+00+JATNIiSEzTIkRM0qJMTNOiQkTosSkmaLEtJmhxCzMmTAlIiZKiXmzQIlFs0SJZViBVViDddiATdiCbdiBXdiDfTiAQziCYziBUziDc7iAS7iCa7iBW7iDe3iAR3iCZ3iBV3iDd/iAT/iCb/iB3z+hYCsRlTEd8QAAAABJRU5ErkJggg==);
}
.player-bottom-btn:not(.play) {
  padding: 0 10px;
}
.page-watch-secondary {
  min-width: 2 00px;
  min-height: 500px;
}
.page-watch-items {
  padding-left: 24px;
}
.chat {
  z-index: 9999;
  position: relative;
  @apply rounded-[16px] mt-[20px] border border-black/30 dark:border-white/30;
}
.card-preview-channel {
  position: absolute;
  left: 14px;
  right: 14px;
  top: 50px;
  backdrop-filter: blur(20px);
  border-radius: 2px;
  background: #0009;
}
.card-preview-channel-header {
  padding: 20px 24px;
  @apply flex items-center;
  background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_wuant-1280x720.jpg);
  background-position: center;
  background-size: cover;
}
.chat-header-left {
  @apply flex items-center;
}
.chat-edit-input-text::before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  content: "";
  right: 0px;
  display: block;
  background: #ff9a1d;
}
.chat-edit-input-text {
  appearance: none;
  border-bottom: 1px solid #8884;
  background: transparent;
  @apply inset-0;
  outline: none;
  position: absolute;
  height: 40px !important;
  border-radius: 0px;
  padding-right: 60px;
  padding-left: 14px;
}
.chat-edit-input {
  @apply mx-[10px];
  margin-bottom: 16px;
  @apply relative h-[40px];
}
.chat-edit-input-text:hover {
}
.chat-edit-input-emots {
  position: absolute;
  right: 0;
  @apply flex w-[60px] items-center justify-center h-[40px];
}
.chat-header {
  @apply flex px-[14px] items-center justify-between h-[60px];
}
.chat-edit-input-emots {
  @apply px-[20px];
  opacity: 0.6;
}
.chat-mgs {
  padding: 4px 14px;
  min-height: 400px;
  margin: 10px 0;
  max-height: 500px;
  overflow: scroll;
}
.page-watch-chat {
  margin: 0 14px;
}
.page-watch-items {
  width: 80vw;
  max-width: 500px;
  margin: 24px 24px 0 0;
  width: 100%;
}
.page-watch-info {
  padding-top: 14px;
  max-width: min(2000px, calc(100vw - 40px));
  margin: 0 auto;
  z-index: 298;
  @apply flex relative;
}
.player-error {
  position: absolute;
  inset: 0px;
  z-index: 1300;
  background: #555;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-watch-info-conteiner {
  margin: 24px 0px 0 0;
  @apply flex-1;
}
.page-watch-info-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-watch-info-title .title-string,
.miniplayer-title {
  @apply text-[25px] line-clamp-2;
}
.miniplayer-title {
  @apply text-[18px];
}

.page-content-video-list-grid ~ #spin {
  margin: 0px auto;
}
.chat-edit-buttons {
  @apply flex pb-[15px] px-[14px] items-center justify-between w-full;
}
.chat-btn-send {
  background: #ff9a1d;
  padding: 5px 10px;
  border-radius: 8px;
  color: #000;
  font-weight: 500;
}
.page-reels {
  @apply flex w-full relative;
}
.page-reels-items {
  @apply flex flex-col;
  max-width: 800px;
  margin: 0 auto;
}

.reels-player {
  min-width: 800px;
  @apply flex bg-white/10 w-full relative;
  max-height: calc(100vh - 156px);

  aspect-ratio: 0.5625;
  margin-bottom: 100px;
  overflow: hidden;
  border-radius: 20px;
}
.reels-player-frame {
  @apply absolute inset-0 h-full block;
  object-fit: cover;
}

.player-next {
  position: absolute;
  opacity: 0;
  left: 14px;
  bottom: 56px;
  background: #000;
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  max-width: 30vw;
  pointer-events: none;
  transition: opacity 0.2s;
}
.next-video:hover ~ .player-next {
  opacity: 1 !important;
  pointer-events: auto !important;
}
.player-next-thumbnail {
  border-radius: 8px;
  aspect-ratio: 1.7777777777777;
  width: 100%;
  @apply bg-[#eee]/10;
}
.player-next-title {
  font-size: 14px;
  @apply line-clamp-1;
  line-height: 20px;
}
.player-next-metadata {
  font-size: 10px;
  @apply line-clamp-1;
  opacity: 0.8;
  line-height: 15px;
}
@media (max-width: 600px) {
  .page-watch-info-outers {
    display: flex;
    align-items: flex-start !important;
    justify-content: center;
    flex-direction: column !important;
  }
  .page-watch-info-buttons {
    margin-top: 10px;
  }
}
@media (max-width: 1000px) {
  body {
    --sidebar-width: 0px !important;
  }
  .thumbnail-pagenation-item {
    aspect-ratio: 1 !important;
    background: #fff;
    width: 5px !important;
  }
  body[exped] .sidebar {
    position: fixed;
    top: 56px;
    left: 0px;
    bottom: 0px;
  }
  body .sidebar {
    pointer-events: none;

    overflow: hidden;
    width: 0px;
    transition: width 0.3s, opacity 0.2s 0.1s;
    background: rgb(var(--background-rgb));
    opacity: 0;
  }
  body[exped] .sidebar {
    width: 240px !important;
    opacity: 1;
    pointer-events: auto;
  }
  .page-watch-info {
    flex-direction: column !important;
  }
  .page-watch-chat {
  }
  .page-watch-items {
    padding: 0px !important;
    width: 100%;
    max-width: 1000px;
  }
  [full] .page-watch-items {
    position: inherit !important;
    padding: 0px !important;
    width: 100%;
    max-width: 1000px;
  }
  .page-watch-info[full]
    .page-watch-info-conteiner
    > *:not(.page-watch-container) {
    margin-right: 0px !important;
  }
  .card-video {
    margin: 0px auto !important;
  }
}

.button-text {
  border-radius: 176px;
  padding: 5px 8px;
  margin-left: 5px;
  padding-right: 16px;
  overflow: hidden;
  background: rgba(var(--background-wp-rgb), 0.2);
}
.button-text-container {
  @apply flex items-center;
}
.button-text-icon svg * {
  fill: rgb(var(--fill-rgb));
}
.button-text-icon {
  @apply flex px-[5px] items-center overflow-hidden justify-center w-[32px] h-[32px];
}
.settings-dashboard-stream {
  display: flex;
  justify-content: space-between;
}
.settings-dashboard-stream-first {
  flex: 0 1 60%;
  min-width: 440px;
  padding-right: 21px;
}
.settings-dashboard-stream-last {
  flex: 0 1 40%;
  padding-left: 21px;
}
.page-watch-info-buttons {
  @apply flex justify-end items-center;
}
.page-watch-info-outers {
  @apply flex mb-[20px] justify-between items-center;
}
.card-channel {
  @apply flex items-center flex-1;
}
.card-channel-image {
  @apply w-[64px] h-[64px] rounded-full overflow-hidden;
}
.card-channel-info {
  @apply ml-[14px];
}
.card-channel-info-name {
  @apply text-[14px];
  font-weight: 400;
}
.card-channel-info-follows {
  @apply text-[10px];
  font-weight: 500;
  opacity: 0.7;
}
.core-image[rounded] {
  border-radius: 50%;
  overflow: hidden;
}
.core-image img {
  transition: 0.2s;
  opacity: 0;
}
.core-image img[loaded] {
  opacity: 1 !important;
}
.player-card-info {
  bottom: 14px;
  left: 14px;
  position: absolute;
  z-index: 1000;
  background: #000e;
  border-radius: 8px;
  padding: 9px 14px;
}
.player-card-info-metadata {
  @apply flex items-center;
  opacity: 70;
  font-size: 10px;
  line-height: 14px;
}
.player-card-info-title {
  @apply flex items-center;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}
.settings-player {
  padding: 9px 14px;
  z-index: 5000!important;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  bottom: 62px;
  
  right: 14px;
  position: absolute!important;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.2s ease-out;
}
.btn-cog {
  z-index: 4999!important;
  height: 40px;
  cursor: pointer;
  width: 250px;
  display:flex;
  align-items:center;
  overflow: hidden;
}
.-content {
  max-height: 400px;
  overflow: scroll;
}
.settings-player-hidden {
  opacity: 0;

  pointer-events: none;
}
.btn-cog-subtitle {
  color: #fff;
  background: #ff9a1d;
  opacity: 0.5;
  position: absolute;
  top: 2px;
  left: -2px;
}
.btn-cog-text {
  position: relative;
}
.btn-cog-icon{
  transform:scale(.7)
}
.btn-cog-icon{
  width:32px;
  height:32px;
}
.card-video-row {
  display: flex;
  margin: 10px 0px;
}
.card-video-row-thumbnail {
  background: #8882;
  height: 123.75px;
  max-height: 123.75px;
  min-height: 123.75px;
  width: 220px;
  min-width: 220px;
  aspect-ratio: 1.7777777777777;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-right: 14px;
}
.card-video .card-thumbnail,
.video-skeleton .thumbnail {
  min-width: 316px;
  max-width: 360px;
}
.video-skeleton .thumbnail {
  aspect-ratio: 16/9;
}
.video-skeleton .video-title {
  width: 80%;
  height: 16px;
}
.card-video-row .card-thumbnail,
.video-skeleton-row .thumbnail {
  width: 100%;
  min-width: 0px !important;
  max-width: 360px;
  position: relative;
}
.card-thumbnail {
  position: absolute;
  @apply inset-0;
}
.card-video .card-thumbnail img {
  min-width: 316px;
  max-width: 360px;
  width: 100%;
}
.card-video-row-title {
  @apply line-clamp-2;
  word-break: break-word;
  white-space: pre-wrap;
  max-height: 40px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 14px;
}
.card-video-row-channel-name {
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
  @apply line-clamp-1;
}
.card-video-row-matadata {
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
  @apply line-clamp-1;
}
.core-string {
  margin-top: 12px;
}
.core-string[medium] span {
  font-size: 16px;
  line-height: 21px;
}
.core-string[small] span {
  font-size: 10px;
  margin-top: 0px;
  line-height: 12px;
}
.core-string[large] span {
  font-size: 20px;
  line-height: 25px;
}
.core-string[large] {
  margin-top: 25px;
  margin-bottom: 20px;
}
.core-string[semibold] span {
  font-weight: 600;
}
.core-string[bold] span {
  font-weight: 700;
}
.skeleton-text {
  height: 16px;
  width: 100px;
  border-radius: 4px;
}
.button-skeleton,
.skeleton-image-video,
.skeleton-image-square,
.skeleton-text {
  display: inline-block;
}
.button-skeleton,
.skeleton-image-video,
.skeleton-image-square,
.card-video-thumbnail,
.skeleton-bg-color,
.skeleton-text {
  background: #eee2;
}
.button-skeleton {
  border-radius: 1000px;
  width: 86px;
  height: 40px;
  margin-left: 5px;
}
.skeleton-text.title {
  width: 100%;
}
.page-watch-info-buttons-like {
  @apply flex items-center relative;
}
.popout-active {
  position: relative;
}
.btn-popout {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: -30px;
  height: 16px;
  pointer-events: none;
  left: 50%;
  translate: -50% 0;
  @apply bg-white dark:bg-black/80;
  border-radius: 2px;
  z-index: 999999;
  padding: 0px 10px;
}
.btn-popout .text-string {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.popout-active:hover .btn-popout {
  opacity: 1;
}
.description-text:not(.exped-description) {
  max-height: 120px;
}
.description-text {
  background: rgba(var(--foreground-rgb), 0.2);
  overflow: hidden;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: auto;
  cursor: pointer;
  font-size: 15;
}
.chat-mgs-status {
  margin: 12px 16px 0px;
  opacity: 0.8;
}
.page-content-video-list-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  grid-gap: 6px 7px;
  margin: 0 14px;
}
.page-home {
  margin-top: 16px;
}
.page-home #center,
.page-sub-content {
  max-width: min(2880px, calc(100vw - var(--sidebar-width)));
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  z-index: 8;
}
.card-video {
  max-width: 360px;
  min-width: min(80vw, 320px);
  margin: 10px 7px;
}
.card-video[skeleton] {
  pointer-events: none !important;
}
.skeleton-image-video,
.card-video-thumbnail {
  min-width: min(80vw, 316px);
  padding-bottom: 56.25%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}
.card-video-profile {
  width: 64px;
  min-width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.card-video-details {
  margin-top: 10px;
  margin-bottom: 14px;
  @apply flex items-center w-full;
}
.card-video-title {
  @apply line-clamp-2;
  word-break: break-word;
  white-space: pre-wrap;
  max-height: 40px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 16px;
}
.card-video-matadata,
.card-video-channel-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
  @apply line-clamp-1;
  margin-bottom: 4px;
  margin-right: 4px;
}
.card-matadata {
  margin-left: 10px;
}
.top-banner {
  width: 100%;
  height: 360px;
  position: relative;
}
.top-banner-inner-image > * {
  z-index: -1;
  position: absolute;
  inset: 0;
}

.top-banner-inner {
  position: absolute !important;
  inset: 0;
  z-index: 30;
}
.card-category {
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.row-list {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 364px;
  display: flex;
}
.card-category-metadata {
  opacity: 0.7;
}

.card-category-image {
  transition: 0.2s;
  border-radius: 16px;
  overflow: hidden;
}
.card-category-metadata,
.card-category-title {
  margin-top: 2px !important;
}
.slider-top {
  position: relative;
  width: 600px;
  height: 330px;
  overflow: visible;
  margin: 0 auto;
}
.slider-top .slick-list {
  overflow: visible;
}
.slider-item {
  position: relative;
  width: 600px;
  height: 330px;
  border-radius: 24px;
  background: red;
  transform: scale(0.8);
  transition: 0.3s transform;
  overflow: hidden !important;
}
.slick-active .slider-item {
  transform: scale(1);
  margin-top: 16px;
  z-index: 7363;
}
.page-content-title {
  @apply flex items-center justify-between;
}

.page-subscriptions-list {
  margin-top: 5px;
  border-top: 1px solid #888;
}
.skeleton-image-square:not([size]) {
  width: 64px;
  height: 64px;
}
.skeleton-image-square:not([norounded]) {
  border-radius: 100000px;
}
.banner-home {
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 5vw;
  max-height: 400px;
  margin: 32px 0;
}
.banner-bg {
  z-index: 3;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}
.banner-content-inner {
  position: absolute;
  inset: 0;
}
.banner-content-inner.metadata {
  color: #fff;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
}
.banner-content-inner.metadata .title {
  @apply line-clamp-2;
  font-size: 40px;
  font-weight: 600;
}
.thumbnail-pagenation {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #000;
  z-index: 7;

  display: flex;
}
.thumbnail-pagenation-item {
  background: #753893;
  width: 80px;
  transition: 0.2s;
  aspect-ratio: 1.7777777777777;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
  display: block;
}
.thumbnail-pagenation-item img {
  width: 80px;

  border-radius: 10px;
}
.banner-player {
  z-index: -1;
  position: absolute;
  height: 100%;
  border-radius: 14px;
  inset: 0;
}
.layout-content:not([full]) .page-watch-container {
  aspect-ratio: 1.7777777777777;
}

.card-user {
  width: 200px;
  background: #fff1;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.user-avatar-image {
  width: 64px;
  height: 64px;
  margin-top: 20px;
}
.card-user-info {
  @apply flex items-center flex-col;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-user-info-name {
  line-height: 20px;
  margin-bottom: 14px;
  font-weight: 500;
}
.page-content-video-list-grid.channels {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.modal-menu-user {
  border-radius: 25px;
  background: rgb(var(--background-rgb));
  z-index: 120000;
}

.modal-menu-user {
  position: fixed;
  right: 20px;
  top: 54px;
  width: 260px;
  box-sizing: border-box;
  box-shadow: #9993 0px 0px 5px 5px;
  padding: 10px 0px;
}

.profile-menu-item.back {
  justify-content: space-between;
  font-weight: 500;
  border-bottom: 2px solid #8883;
}
.profile-menu-item:hover,
.profile-menu-item:focus {
  background: #8882;
}
.profile-menu-item {
  padding: 0px 14px;
  height: 40px;
  display: flex;
  flex-direction: row;
  @apply items-center;
  font-size: 12px;
  max-width: calc(100%);
  width: 100%;
}
.profile-menu-item-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.profile-menu-item-icon.iconMore {
  margin-left: auto;
}
.guide-section-title {
  margin: 6px 12px 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  @apply line-clamp-1;
}
.guide-section-item-content {
  display: flex;
  width: 100%;
  @apply items-center;
  padding: 0 24px;
  height: 48px;
}
.guide-section-item-icon {
  margin-right: 24px;
  min-width: 24px;
}
.guide-section-item-title {
  margin: 0px !important;
  @apply line-clamp-1;
}
.banner-player-iframe {
  height: 140%;
  width: 100%;
  border-radius: 2px;
  z-index: -1;
}
.skip-ads {
  position: absolute;
  right: 20px;
  bottom: 80px;
  background: #0006;
  border-radius: 3px;
  z-index: 156;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}
.skip-ads span {
  margin-right: 5px;
  @apply line-clamp-1;
}
.skip-ads svg {
  width: 16px;
}
.guide-section-split-line {
  background: #8882;
  height: 2px;
  margin: 8px 0px;
  margin-top: 18px;
  border-radius: 10px;
}
.guide-section-list:not([exped]) {
  overflow: scroll;
  max-height: 500px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8883;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8884;
}
.player-controls {
  transition: 0.5s;
  position: absolute;
  inset: 0;
  z-index: 200;
}
.message-content-user {
  font-weight: 600;
}
@keyframes OpenModel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes CloseModel {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
.btn-login {
  border-radius: 99999px;
  border: 2px solid #fffe;
  color: #fffe;
  padding: 5px 15px;
  font-size: 13px;
}
.to-close {
  animation: CloseModel 0.7s ease forwards !important;
}
.bg-modal-hover {
  animation: OpenModel 0.7s ease forwards;
  position: fixed;
  z-index: 3000;
  inset: 0;
  background: #0006;
  overflow: hidden;
  backdrop-filter: blur(60px);
}
.modal-login {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px;
  overflow: hidden;
  background: rgb(var(--background-rgb));
  max-width: min(600px, 90vw);
  max-height: min(400px, 60vh);
  width: 100%;
  border-radius: 16px;
}
.modal-login-item-login {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.banner-home.animate .title {
  animation: banner-home-item-move 1.5s forwards;
}
.banner-home.animate .views-count {
  animation: banner-home-item-move 1.4s forwards 0.1s;
}
.banner-home.animate .banner-player {
  animation: banner-home-item-move-iframe 1.45s forwards 0.05s;
}
@keyframes banner-home-item-move {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  25% {
    transform: translate(0, 50%);
    opacity: 0;
  }
  50% {
    transform: translate(0, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes banner-home-item-move-iframe {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }
  25% {
    transform: scale(1.8);
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.3);
    opacity: 1;
  }
}
.channel-image-profile {
  width: 64px;
  height: 64px;
}
.channel-content {
  max-width: min(3000px, 80vw);
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #8883;
  padding: 0 20px;
}
.channel-banner {
  background-image: var(--banner-img);
  padding-top: 14%;
  background-repeat: no-repeat;
  background-size: cover;
}
.channel-content-infomations {
  display: flex;
  align-items: center;
  height: 140px;
}
.channel-content-metadata .core-string {
  margin: 0px !important;
  padding: 0px !important;
}
.channel-content-metadata {
  display: flex;

  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.channel-content-metadata-count {
  @apply text-[#323232] dark:text-[#eee] text-[14px];
}
.page-search-content {
  max-width: min(600px, calc(95vw - var(--sidebar-width)));
  margin: 5px auto;
}
.page-home #center > .core-string {
  @apply mx-[32px];
}

.page-sub {
  margin: auto;
  padding: 0px 20px;
  max-width: 2500px;
}
.description-link {
  color: #3252ff;
  font-weight: 500;
  cursor: pointer;
}
.inative {
  opacity: 0.6 !important;
  pointer-events: none !important;
  cursor: default !important;
  background: #0000 !important;
}
.live-chat-item-list-renderer {
  align-items: center;
  border-radius: 7px;
  contain: content;
  padding: 4px 24px;
  cursor: pointer;
  @apply flex text-[13px] relative;
}
.live-chat-text-message-avatar {
  max-width: 24px;
  min-width: 24px;
  max-height: 24px;
  min-height: 24px;
  overflow: hidden;
  margin-right: 24px;

  display: none;
}
.live-chat-text-message-content {
  align-self: center;
  width: 100%;
}
.live-chat-text-message-emoji {
  width: 16px;
  height: 16px;
  display: inline;
  margin: 0 2px;
}
.live-chat-text-message-author {
  display: inline-flex;
  margin-right: 8px;
  overflow: hidden;
  @apply items-center;
  font-weight: 500;
  @apply text-[#444] dark:text-[#999];
}
.live-chat-text-message-badges {
  text-wrap: nowrap;
  white-space-collapse: collapse;
  display: inline-flex;
  @apply items-center;
}
.live-chat-text-message-badges-icon {
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  position: relative;
}
.live-chat-item-list-renderer:hover {
  background: var(--hover-btn-bg);
}
.live-chat-text-message-menu-button {
  opacity: 0;
  transition: opacity 0.2s;
}
.live-chat-item-list-renderer:hover .live-chat-text-message-menu-button {
  opacity: 1;
}

.btn-interaction {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: inline-block;
  margin: -4px;
  z-index: -1;
}
.btn-interaction-stroke {
  position: absolute;
  inset: 0;
  transition: 0.2s;
  border: 1px solid rgb(var(--fill-rgb));
  opacity: 0;
  border-radius: 4px;
}
.btn-interaction-fill {
  position: absolute;
  z-index: -1;
  transition: 0.16s;
  inset: 0;
  opacity: 0;
  background: rgb(var(--fill-rgb));
  border-radius: 4px;
  will-change: opacity;
}
.button-text .btn-interaction-stroke {
  border-radius: 9990px;
}
.button-text .btn-interaction {
  margin: 1px;
}
.button-with-interaction {
  cursor: default;
}
.guide-section-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.guide-section-login .btn-login {
  width: 60%;
}
.btn-login .btn-interaction {
  margin: -1px;
}
.btn-login .btn-interaction * {
  border-radius: 10000px;
}
.page-content-video-list-items-row {
  display: flex;
}
.page-content-video-list-items-row .card-video,
.page-content-video-list-items-row .video-skeleton {
  width: 100%;
  max-width: 3600px;
}
.animation_on_mode_miniplayer {
  animation: animation_on_mode_miniplayer 0.4s forwards ease-out;
}
@keyframes animation_on_mode_miniplayer {
  0% {
    transform: translate(0%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 80%);
    opacity: 0;
  }
}
.miniplayer .page-watch-primary-player,
.miniplayer .page-watch-primary-player-conteiner {
  aspect-ratio: 16/9;
  position: absolute;
  inset: 0px;
}
.resize-icon-player svg {
  transform: scale(0.7);
}
.page-home-top-button {
  background: rgba(var(--foreground-rgb), 0.1);
  border: rgba(var(--background-wp-rgb), 0.2) 1px solid;
  padding: 3px 6px;
  margin: 8px 2px;
  border-radius: 4px;
  overflow: hidden;
}
.page-home-top-buttons {
  margin: 0 auto;
  max-width: 400px;
}
.card-channel-row {
  display: flex;
  height: 200px;
  width: 100%;
  max-width: 450px;
}
.card-channel-row-image {
  margin-right: 20px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
}
#nprogress {
  z-index: 999999;
}
#nprogress * {
  z-index: 999999;
}
.card-video-row-thumbnail .card-thumbnail img {
  position: absolute;

  inset: 0px;
  object-fit: cover;
  height: 124px;
  width: 220px;
  object-position: left;
}
.card-video-row-thumbnail .card-thumbnail {
  height: 124px;
  width: 220px;
  position: relative;
}
.page-search-topbar{
height:50px;
align-items:center;
display:flex;
margin-top:15px;
border-bottom:1px solid #8884;
margin-left:15px;
margin-right:15px;
}
.page-search-content-alist{
margin-bottom:15px;
pedding-bottom:5px;
border-bottom:1px solid #8884;
}
.page-search-content-alist>.core-string{
  
height:50px;
align-items:center;
display:flex;
font-size:20px;
}
.card-video--time{
  position:absolute;
  bottom:0;
  right:0;
  pedding:2px 10px;
  margin:15px;
  background:#000e;
  border-radius:4px;
  font-size:14px;
  font-weight:600;
  display:flex;
  align-items:center;
}.description-metadata{
font-weight:600;
font-size:14px;
opacity:.9;
}
.card-channel-info{
margin-right:20px;}
.card-channel-flex{
align-items:center;
display:flex;}
.page-direct-content{
display:flex;
}
.direct-user-header{
display:flex;
align-items:center;
justify-content:space-between;
width:100%;
height:40px;
overflow:hidden;
background:rgb(var(--background-rgb));
border-bottom:1px solid #9992;
padding:0 14px;
}
.direct-user-header-row{
display:flex;
align-items:center;
}
.page-direct-conteiner{flex:1;}
.direct-user-header .core-string{margin:0px}
.direct-user-header-image{
width:32px;
overflow:hidden;
border-radius:50%;margin-right:10px;
height:32px;}
.direct-user-header-btn{
width:32px;
height:32px;
display:flex;
align-items:center;
justify-content:center;
}
.direct-user-box-mensagen{
max-width:50%;
padding:10px 12px;
color:#000;
background:#ff9a1d;
border-radius:20px;
}
.me-send{
margin-left:auto;
}
.no-me-send{
margin-right:auto;
}
.player-time-display {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    white-space: nowrap;
    line-height: 47px;
}
.player-screan-end-item{
width:200px;
aspect-ratio:16/9;
margin:2px;
}
.player-screan-end{
  display: none!important;
 /* display:flex;*/
  align-items:center;justify-content:center;
position:absolute!important;inset:0; z-index:200;}
.player-screan-end-content{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  max-width:min(816px,60vw);
  width:100%;
}
.player-screan-end-content{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  max-width:min(816px,60vw);
  width:100%;
}
@media (max-width: 1400px) {
.player-screan-end-content{
  grid-template-columns: 200px 200px 200px;
  max-width:min(616px,60vw);
}
.player-screan-end-content:nth-child(10),
.player-screan-end-content:nth-child(11),
.player-screan-end-content:nth-child(12) 
{
  display: none;
}
}
.btn-switch{
  border-radius: 34px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.btn-slider-round{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.btn-slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.btn-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .btn-slider-round {
  background-color: #2196F3;
}

input:focus + .btn-slider-round {
  box-shadow: 0 0 1px #2196F3;
}.btn-slider-round:before{
  border-radius:100%;
}

input:checked + .btn-slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}.btn-cog-default{
  width: 60px;
  max-width: 60px;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  margin-left:auto;
}
body[no-active-mode-ambiente] #cinematic{
  opacity:0;
}
[disabled],
.disabled{
cursor: not-allowed;
pointer-events:none!important;opacity:.7!important}
.channel-content-btn{
  padding: 5px 10px;
  background:#fff;
  color:#000;
}
.skeleton-video{
  aspect-ratio: 16/9;
}
.box-nerd-statistics{
  z-index: 2000;
  background: #000c;
  padding: 10px ;
  width: 100%;
  max-width: 300px;
  
}