svg.classic {
  width: 20px;
  stroke-width: 0;
  @apply stroke-black dark:stroke-white;
}
#spin.loading-player {
  width: 70px;
  height: 70px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#spin {
  z-index: 600;
  width: 30px;
  height: 30px;
}

#spin #spin-blur {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  filter: blur(1px);
}
#spin .spin-wrapper {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#spin .spin-wrapper {
  margin: 0 auto;
}
#spin {
  color: #ffba00;
}
#spin .circle {
  display: flex;
  width: 100%;
  height: 100%;
}
#spin .circle {
  animation: spin-ltr 1.3s infinite linear;
  stroke: #553;
  stroke-width: 4;
}
@keyframes spin-ltr {
  0% {
    transform: rotate(-90deg);
    stroke-dasharray: 1, 1000;
  }
  50% {
    transform: rotate(150deg);
    stroke-dasharray: 200, 1000;
  }
  100% {
    transform: rotate(630deg);
    stroke-dasharray: 1, 1000;
  }
}
#spin svg, 
#spin * {
  background: none !important;
  fill: #0000 !important;
}